
header img:hover{
    font-size: 100px;
}
header img:active{
    font-size: 150px;
}

main > p{
    font-size: 20px;
    color:red;
    text-align: right;
}


h1{
    background-color: gray;
    color:blue;
    text-align: right;
}

.background-colorGreen{
    background-color: green;
    color: white;
} 

footer p:nth-child(2){
    background-color:aqua;
    font-size: 25px;
    text-align: center;
}
footer p:hover{
    font-size: 30px;
}
footer p:active{
    font-size: 40px;
}
footer p:nth-child(3){
    background-color: yellow;
    text-align:right;
}

div ul li:hover{
    font-size: 25px;
}
div ul li:active{
    font-size: 30px;
}


