/*font-family: 'Nanum Myeongjo', serif;
font-family: 'Playfair Display', serif;
font-family: 'Turret Road', cursive;
*/
:root{
    --firstColor: #FFFFFF;
    --secondColor: #F6F1F1;
    --thirdColor: #AFD3E2;
    --fourthColor: #19A7CE;
    --fifthColor: #146C94;
    --sixthColor: #213555;
}




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Turret Road';
}
header{
    width: 100%;
    height: 150px;
    background-color: var(--firstColor);
    margin: 0px;
}

header img{
    max-width: 240px;
    float: left;
}
header nav{
    font-family: 'Nanum Myeongjo';
}

.menuHeader{
    margin: 0;
    padding: 0;
    position: absolute;

    
}
.menuHeader ul{
    list-style:none;
    display: flex;
    flex: nowrap;
    background-color: var(--firstColor);
}
.menuHeader li{
    float: left;
    margin-top: 50%;
    margin-right: 40%;
}
.menuHeader li a{
    text-decoration: none;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: nowrap;
    color: var(--sixthColor);
    background-color:  var(--firstColor);
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
}

.menuHeader li a:hover{
    color: var(--firstColor);
    background-color: var(--fourthColor);
    border-radius: 3px;
}

main{
    clear: both;
    width: 70%;
    background-color:  var(--thirdColor);
    float: left;
    height: 122.4vh;
    overflow-y: auto;
    height: 800px;
}
.producto{
    margin-top: 5%;
    margin-left: 23%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 48%;
    border-radius: 5px;
    background-color: var(--fifthColor);
    color: var(--firstColor);
    letter-spacing: 3px;
    
}
section{
    margin-top: 10px;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: justify-around;
}

section .card-product{
    max-width: 30%;
    margin: 2px;
    margin-top: 15px;
    border: 2px solid var(--sixthColor);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /*padding-top:10px;*/
}
section .card-product:hover{
    box-shadow: 3px 5px 5px rgb(38, 37, 37);
}
section .card-product img{
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid rgb(191, 191, 194);
}
section .card-product .description{
    text-align: center;
    line-height: 200%;
    font-family: 'Nanum Myeongjo';
    color: black;
    font-weight: bold;
    font-size: 20px;
}
section .card-product .precio{
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(184, 184, 190);
}
section .card-product-footer{
    width: 100%;
    background-color: var(--fourthColor);
    height: 40px;
    border-radius: 0px 0px 10px 10px;
}
section .card-product-footer button{
    width: 50%;
    float: left;
    height: 40px;
    background-color: var(--fourthColor);
    color: rgb(255, 0, 0);
    border-radius: 0px 0px 10px 10px;
    border: none;
    font-family: 'Turret Road';
    font-weight: bold;
    color: white;
    cursor: pointer;
}
section .card-product-footer button:hover{
    background-color: var(--fifthColor);
    font-size: 110%;
    color: white;
}
/**/

/**/

aside{
    width: 30%;
    background-color: #AFD3E2;
    padding: 20px;
    float: right;
    height: 800px;
}
aside .productos{
    color: var(--sixthColor);
}
aside section nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
aside section nav li{
    margin-bottom: 10px;
    border-bottom: 1px solid var(--fifthColor);
}
aside section nav a{
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--sixthColor);
}
aside section li:hover{
    border-bottom: 1px solid var(--fourthColor);
    color: rgb(80, 23, 202);
}

aside .form{
    width: 100%;
    border: 3px solid var(--fourthColor);
    border-radius: 10px;
    padding: 5px;
}
aside .form h2{
    text-align: center;
    padding-bottom: 10px;
    color: var(--sixthColor);
}
aside .form input, aside .form textarea{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
aside .form input:hover, aside .form textarea:hover{
border: 2px solid black;
}
aside .form textarea{
    height: 100px !important;
    resize: none;
}
aside .form button{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color:  var(--fourthColor);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Turret Road';
}
aside .form button:hover{
    background-color: var(--fifthColor);
}



/* FOOTER */

footer{
    clear: both;
    padding: 60px;
    background-color:  var(--fifthColor);
    color: rgb(255, 255, 255);
}
footer div{
    width: 50%;
}
footer .one{
    float: left;
}
footer .two{
    float: right;
    text-align: right;
    
}
footer .two a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-right: 20px;
}
.form button:hover{
    font-size: 17px;
    background-color: rgb(77, 59, 240);
}


/* scrollbar */

*::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: var(--fourthColor);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--secondColor);
    border-radius: 20px;
    border: 3px solid var(--fifthColor);
  }


